/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #333;
  background-color: #fcfcfc;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  overflow: hidden;
}

a {
  color: #8085C1;
  text-decoration: none;
  border: none;
}

a img {
  outline: none;
}

a:hover {
  color: #555;
  border: none;
}

.separator {
  color: #555;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#logo {
  max-width: 128px;
}

.posts a {
  color: #444;
}

.posts a:hover {
  color: #777;
}

.posts {
  margin-bottom: 2em;
}

.posts-list {
  list-style-type: none;
}

.posts-list li {
  line-height: 1.75em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  width: 100%;
  line-height: 1.25em;
}

.title {
  display: inline-block;
  text-align: center;
}

.tagline {
  width: 100%;
  color: #777;
  text-align: center;
  margin-top: 0.5em;
  display: block;

}

.posts {
  border-top: 1px solid #e7e7e7;
  margin-top: 1em;
  padding-top: 2em;
}

.footer {
  font-size: 0.95em;
  border-top: 1px solid #e7e7e7;
  margin-top: 2em;
  padding-top: 1.25em;
  overflow: hidden;
  float: center;
  text-align: center;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post-info {
  padding-top: 2.5em;
  margin-bottom: 2em;
  display: table;
}

#dp-container,
#info-container {
  display: table-cell;
  vertical-align: middle;
}

#dp {
  max-width: 256px;
  border: 1px solid #5c5c5c;
}

#dp-container {
  width: 20%;
}

#info-container {
  padding-left: 20px;
}

#post-title {
  color: #494949;
  margin-bottom: 0.25em;
  font-size: 2.5em;
  text-transform: uppercase;
}

#post-title-suffix {
  color: #5f5f5f;
  font-size: 0.5em;
}

#position {
  color: #777;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  padding-bottom: 0.35em;
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 300;
}

.post {
  clear: both;
}

.post h2 {
  margin-top: 1.25em;
  margin-left: -0.5em;
  margin-bottom: 1.25em;
}

.post a,
#about a {
  border-bottom: 1px dashed #8085C1;
}

.post a:hover
.post-info a:hover,
#about a:hover {
  border: none;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post p {
  margin-bottom: 1.45em;
  text-align: justify;
}

.post ul, .post ol {
  margin-left: 2.35em;
  margin-bottom: 1.25em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Sidebar and Content
/*
/*****************************************************************************/

.sidebar,
.content {
  vertical-align: top;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  float: left;
  width: 15%;
  padding-left: 11em;
  padding-right: 2.125em;
  border-right: 1px solid #e7e7e7;
}

.content {
  padding-left: 2.125em;
  padding-right: 15em;
}

.header {
  text-align: center;
  padding-top: 2.5em;
  font-size: 1.1em;
}

.post-title {
  font-weight: 600;
  font-size: 1.1em;
}

.post-date {
  color: #888;
  font-family: Monaco, "Courier New", monospace;
  font-size: 0.85em;
  display: block;
}

#sidebar-button {
  height: intrinsic;
  width: intrinsic;
  cursor: pointer;
  display: none;
  padding: 25px 5px 10px 5px;
}

#sidebar-button:active,
#sidebar-button:hover {
  opacity: 0.7;
}

/*****************************************************************************/
/*
/* Colophon
/*
/*****************************************************************************/

.colophon {
  margin-top: 1.5em;
  margin-bottom: 1.45em;
  border-top: 1px dotted #e7e7e7;
}

.colophon p {
  margin-top: 1.25em;
  font-size: 0.85em;
  color: #777;
}

/*****************************************************************************/
/*
/* About page
/*
/*****************************************************************************/

#about p {
  margin-top: 1.25em;
  text-align: justify;
}

.about-section {
  padding-top: 2.75em;
}

#interview-questions,
#meta-info {
  margin-left: 75px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#team {
  padding-bottom: 2em;
}
