/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #333;
  background-color: #fbfbfb;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

a {
  color: #8085C1;
  font-weight: 500;
  text-decoration: none;
  border: none;
}

a img {
  outline: none;
}

a:hover {
  border: none;
}

.separator {
  color: #555;
}

.hidden {
  display: none;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#intro {
  padding: 2em 2em 1em 2em;
  line-height: 50px;
  width: 60em;
  margin: auto;
}

#intro p {
  margin-bottom: 1em;
}

#intro-tagline {
  color: #555;
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
}

#intro-history {
  font-size: 1.5em;
}

#intro-interviews {
  font-size: 1.5em;
}

#number-of-interviews {
  font-size: 1.75em;
}

.buttons {
  position: relative;
  left: 140px;
  top: 3px;
  z-index: 1;
}

.button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: #F16544;
}

.yellow {
  background-color: #FEBF04;
}

.green {
  background-color: #20CB38;
}

.carousel-slide {
  width: 100%;
  height: 392px;
  display: inline-block;
  position: relative;
}

.carousel-slide-url {
  color: #fff;
  width: 100%;
  height: 100%;
}

.carousel-slide-caption {
  position: absolute;
  bottom: 0;
  height: 25%;
  width: 100%;
  color: #fff;
  padding: 8px 16px 8px 16px;
  background-color: rgba(25, 25, 25, 0.55);
}

.caption-name {
  font-size: 2em;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0 !IMPORTANT;
}

.caption-position {
  font-size: 1.25em;
  line-height: normal;
}

#posts-carousel {
  margin: -42px auto 2em;
  height: 430px;
  width: 700px;
  border: 5px solid #bbb;
  border-top: 35px solid #bbb;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  width: 100%;
  line-height: 30px;
  margin: 0 auto;
}

#nav {
  height: 35px;
  width: 100%;
  position: relative;
  z-index: 9999;
}

#nav a:hover {
  color: #777;
}

.content {
  font-weight: 400;
}

.content a:hover {
  opacity: 0.9;
}


#title-text {
  font-size: 2.75em;
  font-weight: 600;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #333;
  padding-top: 0.75em;
}

/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/

#post {
  width: 50em;
  margin: auto;
}

#post-screenshot {
  height: 550px;
  width: 100%;
  margin-top: -35px;
  text-align: center;
  margin-bottom: 1.75em;
}

#post-info {
  display: table;
}

#dp-container {
  padding-top: 2em;
  text-align: center;
  display: inline-block;
}

#info-container {
  display: table-cell;
  vertical-align: middle;
  padding-top: 2em;
  padding-left: 2em;
}

#dp {
  max-width: 225px;
  border-radius: 3px;
}

#name {
  width: 100%;
  display: inline-block;
  font-size: 3em;
  height: 1em;
  line-height: 1em;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: -2px;
}

#position {
  font-size: 1.35em;
  letter-spacing: -2px;
}

#info-links {
  font-size: 1.25em;
  letter-spacing: -1px;
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 300;
}

.post {
  margin: 0 auto;
  margin-bottom: 5em;
}

.post h2 {
  color: #707070;
  font-size: 1.7em;
  margin-top: 2.25em;
  margin-bottom: 1em;
}

.post p {
  font-family: 'Georgia', serif;
  margin-bottom: 1.45em;
  text-align: justify;
  font-size: 1.15em;
}

.post ul, .post ol {
  margin-left: 2.35em;
  margin-bottom: 1.25em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #222;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #222;
}


/*****************************************************************************/
/*
/* Share and Browse sections
/*
/*****************************************************************************/

#share,
#browse {
  height: 140px;
  width: 100%;
  text-align: center;
}

#browse {
  padding-top: 0.5em;
  padding-bottom: 7em;
}

#meta {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#permalink {
  text-decoration: underline;
}

#twitter,
#facebook {
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 400;
}

#twitter a,
#facebook a {
  color: #fff;
  padding-left: 10px;
  padding-right: 10px
}

#twitter {
  background-color: #55acee;
  border: 1px solid #55acee;
}

#twitter:hover,
#twitter:hover a {
  background-color: #fafafa;
  color: #55acee;
}

#facebook {
  background-color: #3b5998;
  border: 1px solid #3b5998;
}

#facebook:hover,
#facebook:hover a {
  background-color: #fafafa;
  color: #3b5998;
}

#browse-title {
  padding-bottom: 1em;
}

.posts-list {
  height: 100%;
  width: 100%;
  text-align: center;
}

.post-element {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 300px;
  text-align: center;
}

.post-detail {
  height: 100%;
  width: 100%;
  position: absolute;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}

.post-dp {
  margin: 0 auto;
  display: block;
  width: 70px;
  margin-top: 30px;
  box-shadow: 0px 0px 25px 4px #444;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

#footer {
  height: 75px;
  line-height: 75px;
  border-top: 1px dotted #ddd;
}

#footer a {
  color: #8085C1;
}

#footer a:hover {
  opacity: 0.8;
}

#footer p {
  font-size: 0.9em;
  color: #777;
  text-align: center;
}
/*****************************************************************************/
/*
/* About, Announcement, and Archive pages
/*
/*****************************************************************************/

#about,
#announcements {
  line-height: 30px;
  margin: 0 auto;
  width: 85%;
}

#about-logo {
  text-align: center;
}

#about p,
#announcements p {
  font-family: 'Georgia', serif;
  font-size: 1.15em;
  margin-top: 1.1em;
  text-align: justify;
}

.about-section,
.archives-section,
.announcements-section {
  padding-top: 2.25em;
}

#archives {
  margin: 0 auto;
  width: 55em;
}

#archive {
  padding-top: 2em;
  width: 85%;
  margin: 0 auto;
}

#team {
  padding-bottom: 2em;
}

#announcements-summary,
#archives-summary {
  padding-top: 0.5em;
  padding-left: 0.25em;
  font-size: 1.1em;
  color: #7a7a7a;
}

.archives-item {
  height: 275px;
  width: 100%;
  position: relative;
  margin-bottom: 1em;
  display: table;
}

#archives-caption {
  text-align: center;
  text-shadow: 1px 1px 15px #111;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#archives-caption:hover {
  background-color: rgba(0,0,0,0.3);
}

.archives-dp {
  height: auto;
  width: 150px;
  margin-top: 30px;
  box-shadow: 0px 0px 15px 0px #111;
}

.archives-date {
  font-size: 0.8em;
  letter-spacing: -1px;
}

.archives-title {
  line-height: 1.25em;
}

.archives-title {
  color: #fff;
  font-size: 1.2em;
}

.archives-position {
  color: #fff;
  font-size: 0.9em;
  letter-spacing: -1px;
}

.pagination {
  padding-top: 0.8em;
  margin-bottom: 1.45em;
  height: 50px;
  line-height: 50px;
}

.announcement {
  margin-bottom: 2em;
}

.announcement h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
