/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fafafa;
  font-family: 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  font-weight: 300;
  overflow: hidden;
}

strong {
  font-weight: 500;
}

a {
  color: #8085C1;
  text-decoration: none;
  border: none;
}

a img {
  outline: none;
}

a:hover {
  color: #555;
  border: none;
}

.separator {
  color: #555;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#logo {
  width: 300px;
}

.img-rounded {
  border-radius: 50%;
}

.posts {
  margin-bottom: 2em;
}

.posts-list {
  list-style-type: none;
}
.posts-list li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  width: 100%;
  font-size: 1em;
  line-height: 1.25em;
}

.title {
  display: inline-block;
  font-weight: 300;
  text-align: center;
}

.tagline {
  width: 100%;
  color: #777;
  text-align: center;
  margin-top: 0.5em;
  display: inline-block;

}

.posts {
  border-top: 1px solid #ececec;
  margin-top: 1em;
  padding-top: 2em;
}

.footer {
  font-size: 0.8em;
  border-top: 1px solid #ececec;
  margin-top: 2em;
  padding-top: 0.5em;
  overflow: hidden;
}

.footer .contact {
  float: center;
  text-align: center;
}

.footer .contact a {
  color: #8085C1;
}

.footer .contact a:hover {
  color: #555;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post-info {
  margin-bottom: 2em;
  display: table;
}

#dp-container,
#info-container {
  display: table-cell;
  vertical-align: middle;
}

#dp {
  max-width: 125px;
}

#dp-container {
  width: 20%;
}

#info-container {
  padding-left: 20px;
}

#post-title {
  color: #333;
  margin-bottom: 0.45em;
  font-size: 2.1em;
  font-weight: 300;
}

.post {
  clear: both;
}

.post a,
.page a,
#about a {
  border-bottom: 1px dashed #8085C1;
}

.post a:hover
.post-info a:hover,
#about a:hover {
  border: none;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post p,
.page p {
  margin-bottom: 1.25em;
}

.post ul, .post ol,
.page ul, .page ol {
  margin-left: 2.35em;
  margin-bottom: 1.25em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/

.sidebar,
.content {
  padding-left: 35px;
  padding-right: 35px;
  vertical-align: top;
  height: 100%;
  overflow-y: auto;
}

.sidebar {
  transition: 1s;
  float: left;
  width: 20%;
  border-right: 1px solid #ececec;
}

.header {
  text-align: center;
  padding-top: 3.25em;
}

#post-info {
  padding-top: 1.75em;
}

.sidebar a {
  color: #555;
}

.post-title {
  font-weight: 500;
}

.post-date {
  display: inline-block;
}

#sidebar-button {
  height: intrinsic;
  width: intrinsic;
  cursor: pointer;
  display: none;
  padding: 25px 5px 10px 5px;
}

/*****************************************************************************/
/*
/* About page
/*
/*****************************************************************************/

#about p {
  margin-top: 0.75em;
}

.about-section {
  margin-top: 2em;
}

#interview-questions {
  margin-left: 75px;
  margin-top: 20px;
}
