@media (max-width:900px) {
  #screenshot {
    max-width: 90%;
  }

  .site {
    width: 50em;
  }
}

@media (max-width:780px) {
  body {
    font-size: 90%;
  }

  .site {
    width: 47em;
  }
}

@media (max-width:700px) {
  body {
    font-size: 90%;
  }

  #dp {
    max-width: 200px;
  }

  .site {
    width: 42em;
  }

  .post-element {
    width: 300px;
  }

  .post-dp {
    width: 70px;
  }

  #browse {
    padding-bottom: 17em;
  }

  .post-element {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.75em;
  }

  .archives-item {
    height: 200px;
  }

  .archives-dp {
    width: 100px;
    margin-top: 35px;
  }
}

/**
 * iPhone width
 **/
@media (max-width:650px) {
  body {
    font-size: 80%;
  }

  #dp {
    max-width: 175px;
  }

  .site {
    width: min-intrinsic;
  }

  .archives-item {
    height: 125px;
  }

  .archives-dp {
    display: none;
  }

  .archives-name {
    margin-top: 30px;
  }

  #browse {
    padding-bottom: 17em;
  }

  #footer {
    line-height: normal;
    padding-top: 2em;
  }

  .footer-text {
    display: block;
  }

  .separator {
    display: none;
  }

  #name {
    font-size: 2.5em;
  }
  
  #info-links {
    font-size: 1.1em;
  }
}
