@media (max-width:1309px) {
  #dp {
    max-width: 190px;
  }

  .header {
    padding-top: 3.45em;
  }

  .posts {
    font-size: 0.9em;
  }

  .footer {
    font-size: 0.85em;
  }
}

@media (max-width:1090px) {
  #logo {
    max-width: 100px;
  }

  #name {
    font-size: 2.5em;
  }

  .post p img {
    max-width: 650px;
  }

  .header {
    padding-top: 3.85em;
  }

  .posts {
    font-size: 0.85em;
  }

  .sidebar {
    padding-left: 4em;
  }

  .content,
  #about {
    padding-right: 3em;
  }

  .footer {
    font-size: 0.85em;
  }

  #info-links *,
  .post-info,
  .footer-link {
    display: block;
  }

  .tagline,
  #footer-license,
  #info-links .separator,
  .footer .separator {
    display: none;
  }
}

@media (max-width:910px) {
  .post p img {
    max-width: 550px;
  }
}

@media (max-width:800px) {
  .post p img {
    max-width: 450px;
  }
}

/**
 * iPhone width
 **/
@media (max-width:640px) {
  #logo {
    max-width: 75px;
  }

  #dp {
    max-width: 128px;
  }

  #name {
    font-size: 1.35em;
  }

  #info-links {
    font-size: 0.8em;
  }

  .sidebar {
    transition: 1s;
    margin-left: -100%;
    z-index: 3;
    width: 35%;
    padding-left: 1.75em;
  }

  .content {
    z-index: 1;
    padding-right: 2em;
  }

  #sidebar-button {
    display: block;
    z-index: 2;
  }
}

/*****************************************************************************/
/*
/* Sidebar responsive animations
/*
/*****************************************************************************/

.slideIn {
  margin-left: 0%;
}
