<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="dp-container">
      <img id="dp" src="/images/dps/{{ page.img }}">
    </div>
    <div id="info-container">
      <h1 id="name"><span class="bold">{{ page.firstname }}</span><span class="thin">{{ page.lastname }}</span></h1>
      <div id="info-links">
        {% if page.company %}
          <p id="position">{{ page.position }} at <a href="{{ page.companyurl }}" id="company">{{ page.company }}</a></p>
        {% elsif page.creation %}
          <p id="position">{{ page.creator }} of <a href="{{ page.creationurl }}" id="company">{{ page.creation }}</a></p>
        {% else %}
          <p id="position">{{ page.position }}</p>
        {% endif %}
        <a href="http://twitter.com/{{ page.twitter }}" id="twitter-url" class="post-info">@{{ page.twitter }}</a> <span class="separator">&bull;</span>
        <a href="{{ page.website }}" id="website-url" class="post-info">{{ page.website }}</a> <span class="separator">&bull;</span>
        <span id="date" class="post-info">{{ page.date | date_to_string }}</a>
      </div>
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>
  <div class="colophon">
    <p>
      <span id="credit">Inspired by <a href="http://usesthis.com">The Setup</a></span> <span class="separator">&bull;</span>
      <span id="reminder">New posts every <span class="bold">Mondays</span> and <span class="bold">Wednesdays</span></span> <span class="separator">&bull;</span>
      <span id="follow-us">Follow us on <a href="https://twitter.com/_thedevelopment">Twitter</a>!</span>
    </p>
  </div>
</div>
